/*
 * @file
 * Constant
 */

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Hiragino Sans GB", Arial, sans-serif;
}
h2 {
  font-weight: 500;
}

#app {
  width: 100%;
  height: 100vh;
}
.container {
  height: calc(100vh - 60px);
}

.left-aside-menu {
  overflow: auto;
}

// CodeMirror
.CodeMirror {
  height: 100%;
  &.cm-s-duotone-light {
    background-color: #fff;
  }
}

// Drawer
.el-drawer__header {
  [role=heading] {
    outline: 0;
  }
}
.el-drawer__body {
  padding: 0 25px;
}